<h4>Available notes</h4>

<div class="headerMenu" ng-controller="notesController">
<ul *ngFor="let note of noteArray" class="notes-list" onload="listNotes()">
    <li>
        <p class="note-summary">{{note.noteSummary}}</p>
        <p class="note-timedate">{{note.timedate}}</p>
    </li>
</ul>
</div>
<!--ul class="notes-list">
    <li>
        <p class="note-summary">This is a note</p>
        <p class="note-timedate"><i>12/11/39</i></p>
    </li>
    <li>
        <p class="note-summary">This is a note</p>
        <p class="note-timedate"><i>12/11/39</i></p>
    </li>
    <li>
        <p class="note-summary">This is a note</p>
        <p class="note-timedate"><i>12/11/39</i></p>
    </li>
    <li>
        <p class="note-summary">This is a note</p>
        <p class="note-timedate"><i>12/11/39</i></p>
    </li>
    <li>
        <p class="note-summary">This is a note</p>
        <p class="note-timedate"><i>12/11/39</i></p>
    </li>
    <li>
        <p class="note-summary">This is a note</p>
        <p class="note-timedate"><i>12/11/39</i></p>
    </li>
</ul-->
<md-button style="float:right" ng-click="newNoteView()">
    New Note
</md-button>